/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}
a:link,
a:visited {
	color: #999;
	text-decoration: none;
}
a:hover {
	color: #666;
}
a:active {
	color: #333;
}
a.external {
	background: url(../img/icons/external-link-grey-dark.png) no-repeat right center;
	padding-right: 13px;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
	font: 16px/26px 'Lato', Helvetica, Helvetica Neue, Arial, sans-serif;
}

.wrapper {
	width: 90%;
	margin: 0 5%;
}
header.wrapper {
	position: relative;
}

/* ===================
	ALL: Theme
   =================== */

.header-container {
	border-bottom: 1px solid #c6c6c6;
}
.header-logo {
	position: absolute;
	top: 5px;
	right: 0;
}
.header-logo img {
	width: 68px;
	height: 68px;
}

.footer-container,
.main aside {
	border-top: 1px solid #c6c6c6;
}

.header-container,
.footer-container,
.main aside {
	background: #f4f4f4;
}

div.title h1 {
	margin-bottom: 10px;
	font-size: 2em;
}
div.title h1,
div.title h1 a:link,
div.title h1 a:visited,
div.title h1 a:active,
div.title h1 a:hover {
	color: #000;
}
div.title h2 {
	margin-top: 0;
	font-size: 1em;
}
div.title h2,
div.title h2 a:link,
div.title h2 a:visited,
div.title h2 a:active,
div.title h2 a:hover {
	color: #999;
}

/* ==============
	MOBILE: Menu
   ============== */

nav ul {
	margin: 0;
	padding: 0;
}

nav a {
	display: block;
	margin-bottom: 10px;
	padding: 15px 0;

	text-align: center;
	text-decoration: none;
	font-weight: bold;

	color: white;
	background: #e44d26;
}

nav a:hover,
nav a:visited {
	color: white;
}

nav a:hover {
	text-decoration: underline;
}

/* ==============
	MOBILE: Main
   ============== */

.main {
	padding: 30px 0;
}

.main article h1 {
	font-size: 2em;
}

.main aside {
	color: white;
	padding: 0px 5% 10px;
}

.footer-container footer {
	color: white;
	padding: 20px 0;
}

/* ===============
	ALL: IE Fixes
   =============== */

.ie7 .title {
	padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.main .img-container {
	text-align: center;
}
section .section-thumb {
	clear: right;
	float: right;
	margin: 0 0 20px 20px;
	width: 96px;
	height: 96px;
}
section .section-project-thumb {
	display: block;
	width: 100%;
	height: 200px;
	overflow: hidden;
	margin: 0 auto;
}
section .section-project-thumb img {
	display: block;
}
section .section-social-thumb {
	margin: 0 0 20px 20px;
	float: right;
	width: 64px;
	height: 64px;
	overflow: hidden;
}
section .section-social-thumb img {
}
section .section-social-logo {
	position: absolute;
	right: 0;
}

section .tags a {
	font-size: 0.8em;
	margin-right: 15px;
	display: inline-block;
}

article {
	margin-bottom: 30px;
	overflow: auto;
}
article header h1 {
	margin: 5px 0 0;
	padding-bottom: 15px;
}
article section {
	padding-bottom: 20px;
}
article section h2 {
	color: #666;
	margin: 0;
	padding-top: 15px;
}
article section h3 {
	color: #999;
	margin: 0;
	padding-top: 15px;
}
article section h4 {
	color: #bebebe;
	margin: 0;
	padding-top: 5px;
}
article.collapsed div.article-sections {
	display: block;
	position: relative;
	height: 175px;
	border-bottom: 1px solid #C6C6C6;
	overflow: hidden;
}
div.article-social-sections {
	position: relative;
}
article.collapsed div.article-sections div.fade {
	position: absolute;
	bottom: 0;
	height: 5px;
	width: 100%;
	opacity: 0.5;
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.0) 0%, rgba(51,51,51,0.25) 100%); /* FF3.6+ */
	background: rgba(0,0,0,0.0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.0) 0%, rgba(51,51,51,0.25) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.0)), color-stop(100%,rgba(51,51,51,0.25))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.0) 0%,rgba(51,51,51,0.25) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.0) 0%,rgba(51,51,51,0.25) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.0) 0%,rgba(51,51,51,0.25) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.0) 0%,rgba(51,51,51,0.25) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0.0)', endColorstr='rgba(51,51,51,0.25)',GradientType=0 ); /* IE6-9 */
}
article div.readmore,
article div.back {
	display: block;
	text-align: center;
}
article div.readmore a,
article div.back a {
	padding: 0 5px;
}










/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
	INTERMEDIATE: Menu
   ==================== */

	nav a {
		float: left;
		width: 27%;
		margin: 0 1.7%;
		padding: 25px 2%;
		margin-bottom: 0;
	}

	nav li:first-child a {
		margin-left: 0;
	}

	nav li:last-child a {
		margin-right: 0;
	}

/* ========================
	INTERMEDIATE: IE Fixes
   ======================== */

	nav ul li {
		display: inline;
	}

	.oldie nav a {
		margin: 0 0.7%;
	}
}

@media only screen and (min-width: 720px) {

/* ====================
	WIDE: CSS3 Effects
   ==================== */

	.main aside {
		-webkit-box-shadow: 0 5px 10px #aaa;
		   -moz-box-shadow: 0 5px 10px #aaa;
				box-shadow: 0 5px 10px #aaa;
	}

/* ============
	WIDE: Menu
   ============ */


	.header-logo img {
		width: 96px;
		height: 96px;
	}
	.title {
		float: left;
	}
	
	nav {
		float: right;
		width: 38%;
	}
	
	section .section-thumb {
		width: 256px;
		height: 256px;
	}
	section .section-project-thumb {
		width: 628px;
		height: 419px;
	}
}

@media only screen and (min-width: 960px) {

/* ===============
	Maximal Width
   =============== */
	
	.header-logo img {
		width: 96px;
		height: 96px;
	}
	.wrapper {
		width: 648px; /* 720px - 10% for margins */
		margin: 0 auto;
	}
	section .section-thumb {
		width: 256px;
		height: 256px;
	}
	section .section-project-thumb {
		width: 628px;
		height: 419px;
	}
}

/* iPad Landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.wrapper {
		width: 90%;
		margin: 0 5%;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}