<div ng-hide="requested">

	<article id="article-aboutme" ng-class="{collapsed: article.aboutme}">
		<header>
			<h1>About Me</h1>
		</header>

		<div class="article-sections">
			<section class="first">
				<a href="" ng-click="readmore('aboutme')"><img class="section-thumb circular" src="img/aboutme.jpg" /></a>
				<p>Founder of <a href="https://twitter.com/RentChek" class="external">@RentChek</a>. Lead Software Engineer at <a href="https://twitter.com/InVisionApp" class="external">@InVisionApp</a>. Coding enthusiast. Husband &amp; Father.</p>
				<hr>
				<p>I've been programming professionally since 2007 and enthusiast since my high school years. When I was first introduced to my IBM Intel Pentium II 300Mhz I quickly developed an unquenchable thirst for information technology that has never left me. My first taste of real programmatic thinking came when I discovered a little tool for developing role playing games called RPG Maker. At the age of 16 I developed my first RPG game called Time Trigger which was a great hit. For entertainment I found myself setting up dedicated servers for hosting Counter-Strike games which eventually led me to developing websites for our local clan. At the time, websites were only just starting to gain the ability to actually be an application. Once I realized this, I quickly noticed the potential for web application development and that's where I took my career when I started work with Statusfirm.</p>
				<p>At Statusfirm I worked on media websites that served 1000's of simultaneous viewers, but this didn't quite satisfy my application development desire. I ended up finding <a class="external" href="http://www.bluedrop.com">Bluedrop</a> where I started with a couple of other developers to build the next eLearning platform. This is where <a class="external" href="http://www.coursepark.com">CoursePark</a> was born. It is really quite the experience to see something you developed straight from line 1 to being used by 10's of thousands of users everyday.</p>
				<p>My programming journey took me to <a class="external" href="https://www.invisionapp.com">InVision</a> next. During my tenure there, I made impactful contributions across diverse projects, primarily centered around enhancing product quality and efficiency. I optimized developer experiences using Docker, reducing setup times significantly. This extended to revolutionizing software delivery at the company through improved build pipelines, Kubernetes and a custom Slack bot, empowering frequent releases and isolated rollbacks. I led the migration of a vital service containing 300+ million records from MySQL to DynamoDB seamlessly. Stepping up to an Interim Engineering Manager role, I balanced leadership while maintaining my coding passion. I championed the integration of AWS, Docker, and CI/CD for over 100 microservices, improving velocity and ensuring stability. My lessons learned from post-mortems continue to guide my engineering decisions.</p>
				<p>Off the clock, I'm always experimenting with new technologies so I can remain on top of the curve, which is how <a class="external" href="https://rentchek.com">RentChek</a> and <a class="external" href="http://www.synapsie.com">Synapsie</a> came to be. My latest endeavour has been iOS application development which has been a great learning experience coming from the web development perspective.</p>
				<p>Outside my home office, my loving wife and two beautiful children complete my life with joy & happiness and fuel my determination to be the best version of myself, both at home and at work.</p>
			</section>
			<div class="fade"></div>
		</div>

		<div class="readmore" ng-show="article.aboutme">
			<a href="" ng-click="readmore('aboutme')">Show More</a>
		</div>
	</article>

	<article id="article-workeducation" ng-class="{collapsed: article.workeducation}">
		<header>
			<h1>Work and Education</h1>
		</header>

		<div class="article-sections">
			<section>
				<a href="" ng-click="readmore('workeducation')"><img class="section-thumb circular" src="img/workeducation.jpg" /></a>
				<h3><a class="external" href="http://invisionapp.com">InVision</a></h3>
				<p>Lead Software Engineer &mdash; <i>Aug 2020 to Present</i></p>
				<p>Intrim Engineering Manager &mdash; <i>Feb 2019 to May 2020</i></p>
				<p>Lead Software Engineer &mdash; <i>Nov 2018 to Feb 2019</i></p>
				<p>Senior Software Engineer &mdash; <i>Aug 2015 to Oct 2018</i></p>
			</section>
			<section>
				<h3><a class="external" href="http://bluedrop.com">Bluedrop Performance Learning</a></h3>
				<p>Lead Programmer &mdash; <i>Oct 2008 to Aug 2015</i></p>
			</section>
			<section>
				<h3><a class="external" href="https://www.linkedin.com/company/statusfirm">Statusfirm</a></h3>
				<p>Web Application Developer &mdash; <i>Jun 2007 to Aug 2008</i></p>
			</section>
			<section>
				<h3><a class="external" href="http://www.cna.nl.ca">College of the North Atlantic</a></h3>
				<p>Website Administrator &mdash; <i>Class of 2007</i></p>
			</section>
			<div class="fade"></div>
		</div>

		<div class="readmore" ng-show="article.workeducation">
			<a href="" ng-click="readmore('workeducation')">Show More</a>
		</div>
	</article>

	<article id="article-workeducation" ng-class="{collapsed: article.skills}">
		<header>
			<h1>Skills</h1>
		</header>

		<div class="article-sections">
			<section>
				<a href="" ng-click="readmore('skills')"><img class="section-thumb circular" src="img/skills.jpg" /></a>
				<section>
					<h3>Go</h3>
					<p>My current language of choice. I've been using Go heavily since 2019 and have been loving every minute of it. I've used it to build a variety of applications, from simple command-line tools to large-scale web applications. Its simplicity and readability helps contribute to more maintable code while its static typing and testing tools leads to more reliable codebases.</p>
				</section>
				<section>
					<h3>Javascript &amp; NodeJS</h3>
					<p>I've used Javascript in almost any scope you can imagine. I've been building entire Javascript driven single-page web applications using technologies such as <a class="external" href="https://react.dev">React</a>, <a class="external" href="http://angularjs.org">AngularJS</a> and <a class="external" href="http://nodejs.org">NodeJS</a>. I'm extremely comfortable working on both front-end and back-end Javascript services. I'm a big advocate of complimenting larger projects with <a class="external" href="https://www.typescriptlang.org">TypeScript</a> which helps to keep code clean and maintainable longterm.</p>
				</section>
				<section>
					<h3>HTML &amp; CSS</h3>
					<p>Over the years I've obtained an extensive knowledge of HTML and CSS including many of the quirks. I've also had the pleasure of developing modern web applications that utilize new technolgoies; such as <a class="external" href="http://en.wikipedia.org/wiki/HTML5">HTML5</a>, <a class="external" href="https://www.w3schools.com/html/html5_canvas.asp">Canvas</a> and <a class="external" href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS3</a>, while accounting for the various obscue differences between browsers. Most recently I've been utilizing CSS pre-compilers such as <a class="external" href="https://tailwindcss.com">Tailwind</a> and <a class="external" href="http://sass-lang.com">Sass</a> and it's hard to imagine going back to anything else.</p>
				</section>
				<section>
					<h3>PHP</h3>
					<p>One of my first languages. Object-Oriented and frameworks such as <a class="external" href="http://framework.zend.com">Zend</a>, <a class="external" href="http://silex.sensiolabs.org">Silex</a> and <a class="external" href="http://cakephp.org">CakePHP</a> are second-nature to me. From single-page sites to large-scale web applications, I've done them all.</p>
				</section>
				<section>
					<h3>Python</h3>
					<p>A particularly fun language to use which I personally attribute to its beautiful syntax. When building a web application in <a class="external" href="http://www.python.org">Python</a>, I've found <a class="external" href="https://www.djangoproject.com">Django</a> the most satisfying.</p>
				</section>
				<section>
					<h3>Git</h3>
					<p>The obvious choice for version control today, from personal to large-scale business projects. My knowledge of <a class="external" href="http://git-scm.com">Git</a> is extensive and I'm a strong advocate of the pull request, peer review style of development.</p>
				</section>
				<section>
					<h3>Swift &amp; Objective-C</h3>
					<p>Although I don't know these technologies well yet, I never stop learning and my goal to teach myself <a class="external" href="https://developer.apple.com/swift/">Swift</a> &amp; <a class="external" href="http://en.wikipedia.org/wiki/Objective-C">Objective-C</a> so I can code my first native iOS application.</p>
				</section>
				<section>
					<h3>MySql, Postgres, DyanmoDB, MongoDB and Redis</h3>
					<p>I've used a large range of datastores across a large range of applications. I have no particular preferences here as it really depends on the use case. I'm comfortable with both SQL vs NoSQL. I have experiences with ORMs and stored procedures and I know how to interface and use datastores securely. I've also dealt with very large datasets (ex: 300+ million records) and have experience with managing performance.</p>
				</section>
				<section>
					<h3>Unit and Functional Testing</h3>
					<p>It's one of those things you don't realize how important it is until you actually start doing it. And once you start, you won't go back. Every application I develop now is always done with testing in mind. Test first, code second. Being a believer of continuous deployment makes it easy to see the value in unit tests. You won't find me coding without them.</p>
				</section>
			</section>
			<div class="fade"></div>
		</div>

		<div class="readmore" ng-show="article.skills">
			<a href="" ng-click="readmore('skills')">Show More</a>
		</div>
	</article>

	<article id="article-projects" ng-class="{collapsed: article.projects}">
		<header>
			<h1>Products</h1>
		</header>

		<div class="article-sections">
			<section>
				<div class="browser-frame with-url">
					<div class="content">
						<a class="section-project-thumb" href="" ng-click="readmore('projects')"><img src="img/projects/freehand.png" /></a>
					</div>
				</div>
				<h3><a class="external" href="https://www.invisionapp.com">Freehand from InVision</a></h3>
				<h4>Launched in 2023</h4>
				<p>This is the latest project I've contributed to. It's powered by <a class="external" href="http://react.dev">React</a>, <a class="external" href="https://tailwindcss.com">Tailwind</a>, <a class="external" href="https://www.mysql.com">MySQL</a>, <a class="external" href="http://nodejs.org">NodeJS</a>, <a class="external" href="https://go.dev">Go</a>, <a class="external" href="http://docker.io">Docker</a>, <a class="external" href="https://kubernetes.io">Kubernetes</a> and many more. The core of Freehand utilizies raw Javascript (with <a class="external" href="https://flow.org">Flow</a> for static type checking) to manipulate a canvas in the browser. It was originally a small product offering by InVision (originally launched in 2017), but it garnered a lot of attention and has claimed the spotlight in the company and was re-launched in 2023 with a many improvements.</p>
				<p>I specifically worked on resolving obscue bugs in the new InVision Freehand product using debugger tools which had me touching nearly all areas of the codebase. I also developed internal developer tools and focused on improving developer velocity.</p>
			</section>
			<hr>
			<section>
				<div class="browser-frame with-url">
					<div class="content">
						<a class="section-project-thumb" href="" ng-click="readmore('projects')"><img src="img/projects/prototypes.png" /></a>
					</div>
				</div>
				<h3><a class="external" href="https://www.invisionapp.com/cloud/prototype">InVision v7</a></h3>
				<h4>Launched in 2017</h4>
				<p>This was a complete re-write of the original ColdFusion-based InVision application into a micro-service driven architecture using a more modern tech stack. It's powered by <a class="external" href="http://react.dev">React</a>, <a class="external" href="https://tailwindcss.com">Tailwind</a>, <a class="external" href="https://www.mysql.com">MySQL</a>, <a class="external" href="https://www.postgresql.org">Postgres</a>, <a class="external" href="https://aws.amazon.com/dynamodb/">DynamoDB</a>, <a class="external" href="https://kafka.apache.org">Kafka</a>, <a class="external" href="http://nodejs.org">NodeJS</a>, <a class="external" href="https://go.dev">Go</a>, <a class="external" href="http://docker.io">Docker</a>, <a class="external" href="https://kubernetes.io">Kubernetes</a> and many more. It is a very large scale micro-service heavy project.</p>
				<p>Throughout my extensive tenure at InVision, I actively contributed to a diverse range of projects and roles mainly focused around this product, showcasing adaptability and a commitment to driving meaningful change.</p>
				<h5>Enhancing Developer Experience and Software Delivery</h5>
				<p>At the outset, I tackled the challenge of suboptimal developer experiences. I optimized efficiency by leveraging Docker to transform projects and services into manageable and reliable entities. This initiative drastically reduced setup times, empowering developers to establish working environments in mere minutes, a significant leap from the previously cumbersome hours.</p>
				<p>This endeavor naturally extended into revolutionizing our software delivery process. Collaborating with a dedicated team, I harnessed Kubernetes and streamlined deployment techniques which included building a custom Slack bot to improve ease and transparency of releases. By orchestrating Docker images for each service, we empowered developers to execute multiple independent releases daily, while also facilitating isolated rollbacks, leading to a substantial boost in engineering velocity.</p>
				<h5>Empowering Backend Services</h5>
				<p>Transitioning into a backend-focused role, I spearheaded the transformation of the Assets API service—a pivotal piece managing over 300 million user-uploaded assets. Migrating this service from MySQL to DynamoDB was a formidable challenge, executed seamlessly through meticulous planning to ensure zero downtime and data loss.</p>
				<h5>Leadership and Revitalization</h5>
				<p>Stepping up during a reorganization, I assumed the role of Interim Engineering Manager. I conducted performance reviews, facilitated team coordination, and collaborated with stakeholders to ensure seamless planning and execution of work. Despite this managerial role, my passion for coding eventually led me back to my role as a Lead Software Engineer.</p>
				<p>In the later stages, I undertook a significant project aimed at revitalizing our local development environment. Through the integration of AWS, Docker, continuous integration, and custom-built CLIs, I orchestrated over 100 microservices while ensuring stability and maintainability. Automated checks and centralized documentation eliminated environment reliability issues, cementing a productive developer ecosystem.</p>
				<h5>Lessons Learned and Future Gains</h5>
				<p>As my journey unfolded, external challenges impacted InVision's trajectory. While our competitor gained an upper hand, the lessons learned during my tenure have profoundly impacted my future engineering decisions. Looking back, it is easy to see what myself and the company could have done differently to improve the outcome of InVision's products and the company itself.</p>
			</section>
			<hr>
			<section>
				<div class="browser-frame with-url">
					<div class="content">
						<a class="section-project-thumb" href="" ng-click="readmore('projects')"><img src="img/projects/rentchek.png" /></a>
					</div>
				</div>
				<h3><a class="external" href="https://rentchek.com">RentChek</a></h3>
				<h4>Built in 2014</h4>
				<p>This project is dear to me and I still operate and maintain it to this day. I came up with the idea out of a personal desire to make it easier to manage my rental properties. It's built with <a class="external" href="http://en.wikipedia.org/wiki/HTML5">HTML5</a>, <a class="external" href="http://sass-lang.com">Sass</a>, <a class="external" href="http://angularjs.org">AngularJS</a>, <a class="external" href="http://www.mongodb.org">MongoDB</a>, <a class="external" href="http://nodejs.org">NodeJS</a> and <a href="http://docker.io">Docker</a>. All these technolgoies were still fairly new to me, but I was quick to learn from my previous experiences with Javascript.</p>
				<p>Some other important tools I utilized for this project included <a class="external" href="http://bower.io">Bower</a>, <a class="external" href="https://npmjs.org">npm</a> and <a class="external" href="http://expressjs.com">express</a>.</p>
			</section>
			<hr>
			<section>
				<div class="browser-frame with-url">
					<div class="content">
						<a class="section-project-thumb" href="" ng-click="readmore('projects')"><img src="img/projects/synapsie.png" /></a>
					</div>
				</div>
				<h3><a class="external" href="http://synapsie.com">Synapsie</a></h3>
				<h4>Built in 2011</h4>
				<p>I built Synapsie as an opportunity to learn Python web development and it accomplished this nicely. It was a great learning experiment that introduced me to the increasingly popular Django Framework as well as Facebook Connect.</p>
				<p>For the development of Synapsie, I used a <a class="external" href="http://www.vagrantup.com">Vagrant Virtual Machine</a> along with Puppet for server configuration. I implemented a simple RESTful API and the majority of the UX is accomplished using jQuery and calls to the API. Although I'm not much of a designer, I did design Synapsie myself using Adobe Illustrator and I think it turned out well.</p>
			</section>
			<hr>
			<section>
				<div class="browser-frame with-url">
					<div class="content">
						<a class="section-project-thumb" href="" ng-click="readmore('projects')"><img src="img/projects/coursepark.png" /></a>
					</div>
				</div>
				<h3><a class="external" href="http://www.coursepark.com">CoursePark</a></h3>
				<h4>Built in 2008</h4>
				<p>I exclusively worked on CoursePark while employed at <a class="external" href="http://www.bluedrop.com">Bluedrop</a>. CoursePark was little more than a thought scribbled on paper when we started development and has since become a cornerstone product from Bluedrop with 10s of thousands of active users.</p>
				<p>About a year into development I was promoted to Lead Programmer of CoursePark and my team and I continued to improve and implement the latest technologies such as the newly established eLearning API called <a class="external" href="http://tincanapi.com">TinCan</a>. We also expanded to a mobile offering. As Lead on the project, I pushed us towards a Continuous Deployment model utilizing Unit &amp; Functional Tests along with Pull Request style peer review. We also migrated from using SVN to GIT for version control which showed substantial performance improvements and allowed us to obtain the rapid development and release workflow we needed.</p>
				<p>We built CoursePark on PHP, Postgres and the Zend Framework using the MVC architecture pattern. Our servers have been architected to provide a reliable uptime, performance and avoid any single point of failure. Vagrant VMs were used for local development along with Puppet scripts for managing development and production configurations. All of this was the latest technology at the time.</p>
				<p><strong>Update:</strong> After many years, CoursePark is finally shutting down as of August 2023</p>
			</section>
			<div class="fade"></div>
		</div>

		<div class="readmore" ng-show="article.projects">
			<a href="" ng-click="readmore('projects')">Show More</a>
		</div>
	</article>

	<article id="article-contact" ng-class="{collapsed: article.contact}">
		<header>
			<h1>Contact</h1>
		</header>

		<div class="article-sections">
			<section>
				<h3>Email</h3>
				<p><a class="external" href="mailto:me@chesleybrown.ca">me@chesleybrown.ca</a></p>
			</section>
			<section>
				<h3>Twitter</h3>
				<p><a class="external" href="https://twitter.com/Chesley">@Chesley</a></p>
			</section>
			<section>
				<h3>LinkedIn</h3>
				<p><a class="external" href="http://www.linkedin.com/in/chesleybrown">chesley-brown</a></p>
			</section>
			<section>
				<h3>GitHub</h3>
				<p><a class="external" href="https://github.com/chesleybrown">chesleybrown</a></p>
			</section>
			<section>
				<h3>Resumé</h3>
				<p><a class="external" href="http://chesleybrown.github.io/resume/chesleybrown.html">HTML</a> or <a class="external" href="http://chesleybrown.github.io/resume/chesleybrown.pdf">PDF</a></p>
			</section>
			<div class="fade"></div>
		</div>

		<div class="readmore" ng-show="article.contact">
			<a href="" ng-click="readmore('contact')">Show More</a>
		</div>
	</article>
</div>
